{% extends '../blog/base.html'%}

{% block title_block %}
<title>Manage Posts</title>
{% endblock %}
{% block main_block %}
<table class="table caption-top">
    <caption class="fw-bold fs-5">List of Posts</caption>
    <thead>
        <tr>
            <th class="text-uppercase" scope="col">Id</th>
            <th class="text-uppercase" scope="col">Title</th>
            <th class="text-uppercase" scope="col">Date created</th>
            <th class="text-uppercase" scope="col">Author</th>
            <th class="text-uppercase" scope="col">Edit</th>
            <th class="text-uppercase" scope="col">Delete</th>
        </tr>
    </thead>
    {% for post in posts %}
    <tbody>
        <tr>
            <td>{{post.id}}</td>
            <td>{{post.Title}}</td>
            <td>{{post.date}}</td>
            <td>{{post.author}}</td>
            <td><a href="{% url 'update-post' post.id%}"><button class="btn btn-primary">Edit</button></a></td>
            <td><a href="{% url 'delete-post' post.id%}"><button class="btn btn-danger">Delete</button></a></td>
        <tr>
    </tbody>
    {% endfor %}
</table>
<div class="d-flex justify-content-end me-5">
<a href="{% url 'add-post' %}"><button class="btn btn-secondary">Add Post</button></a>
</div>

{% endblock %}