{% extends '../blog/base.html'%} {% block title_block %}
<title>Manage Users</title>
{% endblock %} {% block main_block %}
<table class="table caption-top">
  <caption class="fw-bold fs-5">
    List of Users
  </caption>
  <thead>
    <tr>
      <th class="text-uppercase" scope="col">Id</th>
      <th class="text-uppercase" scope="col">Username</th>
      <th class="text-uppercase" scope="col">Email</th>
      <th class="text-uppercase" scope="col">Date Joined</th>
      <th class="text-uppercase" scope="col">Staff Status</th>
      <th class="text-uppercase" scope="col">Block/unblock</th>
      <th class="text-uppercase" scope="col">promote</th>
    </tr>
  </thead>
  {% for user in users %}
  <tbody>
    {% if user.is_staff %}
    <tr class="table-danger">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.date_joined}}</td>
      <td><i class="fa-solid fa-circle-check">Admin</i></td>
      <td>No Permission</td>
      <td></td>
      <td></td>
      <td></td>
      {% else %}
    </tr>

    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.date_joined}}</td>
      <td><i class="fa-solid fa-circle-xmark">Normal User</i></td>
      <form action="{% url 'promote-user' %}" method="post">
        {% csrf_token %}
        <td>
          <button
            class="btn btn-primary"
            type="submit"
            name="user"
            value="{{user.id}}"
          >
            Admin
          </button>
        </td>
      </form>
      <td><button class="btn btn-primary">Block</button></td>
      {% endif %}
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
