{% extends '../blog/base.html'%}

{% block title_block %}
<title>Manage Categories</title>
{% endblock %}
{% block main_block %}
<table class="table caption-top">
    <caption class="fw-bold fs-5">List of Categories</caption>
    <thead>
        <tr>
            <th class="text-uppercase" scope="col">Id</th>
            <th class="text-uppercase" scope="col">Category</th>
            <th class="text-uppercase" scope="col">Date created</th>
            <th class="text-uppercase" scope="col">Edit</th>
            <th class="text-uppercase" scope="col">Delete</th>
        </tr>
    </thead>
    {% for category in all_categories %}
    <tbody>  
        <tr>
            <td>{{category.id}}</td>
            <td>{{category.category}}</td>
            <td>{{category.date}}</td>
            <td><button class="btn btn-primary">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
        <tr>
    </tbody>
    {% endfor %}
</table>
<div class="d-flex justify-content-end me-5">
<button class="btn btn-secondary">Add Category</button>
</div>

{% endblock %}