{% extends '../blog/base.html'%} {% block title_block %}
<title>Manage Users</title>
{% endblock %} {% block main_block %}
<table class="table caption-top">
  <caption class="fw-bold fs-5">
    <div class="d-flex justify-content-between p-3">
      <p>List of Users</p> 
       <p>Total Number of Users : {{users_count}}</p> 
    </div>
  </caption>
  <thead>
    <tr>
      <th class="text-uppercase" scope="col">Id</th>
      <th class="text-uppercase" scope="col">Username</th>
      <th class="text-uppercase" scope="col">Email</th>
      <th class="text-uppercase" scope="col">Date Joined</th>
      <th class="text-uppercase" scope="col">Staff Status</th>
      <th class="text-uppercase" scope="col">promote</th>
      <th class="text-uppercase" scope="col">Block/unblock</th>
    </tr>
  </thead>
  {% for user in users %}
  <tbody>
    {% if user.is_staff %}
    <tr class="table-danger">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.date_joined}}</td>
      <td><i class="fa-solid fa-circle-check">Admin</i></td>
      <td>No Permission</td>
      <td></td>
      <td></td>
      <td></td>
      {% else %}
    </tr>

    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.date_joined}}</td>
      <td><i class="fa-solid fa-circle-xmark">Normal User</i></td>
      <form action="{% url 'promote-user' %}" method="post">
        {% csrf_token %}
        <td>
          <button
            class="btn btn-primary"
            type="submit"
            name="user"
            value="{{user.id}}"
          >
            Admin
          </button>
        </td>
      </form>
        <form action="{% url 'block-user' %}" method="post">
          {% csrf_token %}
        <td><button class="btn btn-primary"
          type="submit"
          name="user"
          value="{{user.id}}"
          >
          {% if user.is_active %}
            Block
          {% else %}
            Unblock
          {% endif%}
        </button></td></form>

      {% endif %}
    </tr>
  </tbody>
  {% endfor %}
</table>

{% endblock %}
