{% extends '../blog/base.html'%}

{% block title_block %}
<title>Manage Categories</title>
{% endblock %}
{% block main_block %}
<table class="table caption-top">
    <caption class="fw-bold fs-5">
        <div class="d-flex justify-content-between p-3">
            <p>List of Categories</p>
            <p>Total Number of Categories : {{categories_count}}</p>
        </div>
    </caption>
    <thead>
        <tr>
            <th class="text-uppercase" scope="col">Id</th>
            <th class="text-uppercase" scope="col">Category</th>
            <th class="text-uppercase" scope="col">Date created</th>
            <th class="text-uppercase" scope="col">created by </th>
            <th class="text-uppercase" scope="col">Edit</th>
            <th class="text-uppercase" scope="col">Delete</th>
        </tr>
    </thead>
    {% for category in all_categories %}
    <tbody>  
        <tr>
            <td>{{category.id}}</td>
            <td>{{category.category}}</td>
            <td>{{category.date}}</td>
            <td>{{category.author}}</td>
            <td><a href="{% url 'update-category' category.id %}"><button class="btn btn-primary">Edit</button></a></td>
            <td><a href="{% url 'delete-category' category.id %}"><button class="btn btn-danger">Delete</button></a></td>
        <tr>
    </tbody>
    {% endfor %}
</table>
<div class="d-flex justify-content-end me-5">
<a href="{% url 'add-category' %}"><button class="btn btn-secondary">Add Category</button></a>
</div>
{% endblock %}