{% extends 'blog/base.html'%}

{% block title_block %}
<title>Create A New Post</title> 
{% endblock %}
{% block main_block %}
<br><br><br><br>

<div class="form-group container">
    <h1>Add Post</h1>
    <br><br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Post</button>
    </form>
</div>
<script>
    var name="{{user.id}}";
    document.getElementById("author-id").value = name;
</script>
{% endblock %}

