{% load static %}
  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light">Categories</div>
      <div class="list-group list-group-flush">
        {% for category in categories %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'category' category.id %}">{{category.category}}</a><span><button class="btn btn-secondary"><a href="#" class="text-decoration-none text-light">Subscribe</a></button></span>
        {% endfor %}
      </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">          
      <!-- Top navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
          <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" id="sidebarToggle">
            <img src="{% static 'img/olog.svg' %}" alt="olog-logo" class="ms-4" width="100em" height="60em"
              alt=""></svg></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
              {% if user.is_authenticated %}  
              <li class="nav-item active"><a class="nav-link" href="{% url 'add-post' %}">Add Post</a></li>
              <li class="nav-item"><a href="{% url 'logout' %}" type="button" class="btn btn-outline-primary me-2">Logout</a></li>
              <li class="nav-item active"><a class="nav-link disabled">Welcome {{ user.get_username}}</a></li>
              {% else %}
              <li class="nav-item"><a href="{% url 'login' %}" type="button" class="btn btn-outline-primary me-2">Login</a></li>
              <li class="nav-item"><a href="{% url 'register' %}" type="button" class="btn btn-primary">Sign-up</a></li>
              {% endif %} {% if user.is_authenticated and user.is_staff %}
              <li class="nav-item"><a class="nav-link" href="{% url 'manage-blog' %}">Manage Blog</a></li>
              {% endif %}
                <form class="d-flex" method=POST action="{% url 'search-bar' %}">
                  {% csrf_token %}
                  <input class="form-control ms-2 me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                  <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
            </ul>
          </div>
        </div>
      </nav>
