{% extends 'blog/base.html'%}

{% block main_block %}
<h1>Post</h1>
<h1>Post</h1>
<h1>Post</h1>
<h1>Post</h1>
<h1>Post</h1>
<ul>
    {% for post in posts %}
           <li><a href="{% url 'post-details' post.id %}" >{{post.Title}} </a>by {{post.author}}</li>
            <img src="{{post.Image}}">
            <li>{{ post.Content|slice:":100"|safe }}</li> 
            <li>category:{{post.category}}</li>
            <li>tags:{{post.tags}}</li>
            <li>Date:{{post.date}}</li>
            <li><a href="{% url 'update-post' post.id%}">Edit</a></li>
            <li><a href="{% url 'delete-post' post.id%}">Delete</a></li>
           <li><a href="{% url 'post-details' post.id %}">{{post.Title}} - {{post.author}}</a> <br>
            {{post.Content}}
            <img src="{{post.Image}}" alt="{{post.Image}}">
           </li>
        {% endfor %}
</ul>
<ul>
    {% for category in categories %}
    <li><a href="{% url 'category' category.id %}">{{category.category}}</a><button><a href="#">Subscribe</a></button></li>
    {% endfor %}
</ul>
{% endblock %}
