
{% extends 'blog/base.html'%}
{% block title_block %}
<title>{{post.Title}}</title>
{% endblock %}

{% block main_block %}
<div class="container mt-5">
            <div class="row">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{post.Title}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{post.date}} by :{{post.author}}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'category' post.category.id %}">{{post.category}}</p></a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="">{{post.tags}}</p></a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.Image.url }}" alt="" /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                          <p>{{post.Content|safe}}</p>
                        </section>
                    </article>
                    <!-- likes section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-footer d-flex justify-content-between">
                                {% if user.is_authenticated %}
                                    {% if user.id == post.author.id or user.is_staff %}
                                <a href="{% url 'update-post' post.id%}" class=" far fa-edit">Edit Post</a>
                                {% if request.user.is_authenticated %}
                                    <form action="{% url 'like_post' post.pk %}" method="POST">
                                    {% csrf_token %} {% if liked %}
                                    <button
                                    type="submit"
                                    name="post_id"
                                    value="{{post.id}}"
                                        class="btn btn-danger fa fa-thumbs-down"
                                        >
                                    </button>
                                    {% else %}
                                    <button
                                        type="submit"
                                        name="post_id"
                                        value="{{post.id}}"
                                        class="btn btn-primary fa fa-thumbs-up"
                                        >
                                        like
                                    </button>
                                    {% endif %} 
                                    {{total_likes}}
                                    </form>
                                    {% else %}
                                    <small></small>
                                    {% endif %}
                                <a href="{% url 'delete-post' post.id%}" class="fa fa-trash text-danger"> Delete Post</a> 
                                {% endif %}
                                {% endif %}
                              </div>
                              <!-- Comment section-->
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="ms-3">
                                        {% if not post.comments.all %}
                                        <p>No Comments Yet.... <a href="{% url 'add-comment' post.id %}" class="card-link"><i class="fa fa-comment"></i> Add Comment</a></p>
                                        {% else %}
                                        {% for comment in post.comments.all %}
                                        <div class="flex-shrink-0">
                                        <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                                        <strong>{{comment.author}} -{{comment.created_at}}</strong>
                                        <p class="ms-5">{{comment.content}}</p>
                                        {% if user.is_authenticated %}
                                            {% if user.id == post.author.id or user.is_staff or user.id == comment.author.id %}  
                                             <a href="" class="fa fa-trash text-danger"> Delete Comment</a>
                                            {% endif %}
                                        {% endif %}
                                        <hr>
                                        </div>          
                                        {% endfor %}
                                         <a href="{% url 'add-comment' post.id %}" class="card-link"><i class="fa fa-comment"></i> Add Comment</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>
        </div>
<script>
  var name = "{{user.id}}";
  document.getElementById("author-id").value = name;
</script>
{% endblock %}