{% extends 'blog/base.html'%}

{% block main_block %}
    <center>
        {% if searched %}
            <h1>You Searched For {{ searched }}</h1>
            <br/>
            {% for post in post_titles %}
              <a href="{% url 'post-details' post.id %}"> {{ post.Title }} - {{ post.tags }}</a></br>
            {% endfor %}
            <!-- {% for post in tags %}
            <a href="{% url 'post-details' post.id %}"> {{ post.Title }} - {{ post.tags }}</a></br>
             {% endfor %} -->
        {% else %}
        <h1>You forgot to search</h1>
        {% endif %}
    </center>

{% endblock %}

